/node_modules
/public/hot
/public/storage
/storage/**
!/storage/.gitignore
!/storage/**/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/database.sqlite
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer-setup.php
php.ini
